cds.requires.db.credentials.host = localhost
cds.requires.db.credentials.port = 5432
cds.requires.db.credentials.user = postgres
cds.requires.db.credentials.password = postgres
cds.requires.db.credentials.database = auditlog

AZURE_API_KEY = your-api-key
MY_INSTANCE_NAME = "xxx"
DEPLOYMENT_NAME = "xxx"

WEBHOOK_HOST = 
WEBHOOK_PATH =